<main role="main" class="container text-center py-5">

    <h1 class="text-uppercase "><i class="fa fa-braille pr-3"></i>Inventory App</h1>  
    <p class="py-3 text-secondary">Angular Sample App For Components</p>
    
  
  <br>
  <hr>
 
  
  <products-list  [productList] = "products" (onProductSelected)="productWasSelected($event)" 
  >
     
  </products-list>
 

 

<hr>
<div class="footer navbar-fixed-bottom py-2">
  <h6 class="text-center">This is a open source <a href="">Improve it</a></h6>
</div>